services:
  beszel:
    image: henrygd/beszel
    container_name: beszel
    restart: unless-stopped
    ports:
      - 8090:8090
    volumes:
      - ./beszel_data:/beszel_data
    env_file:
      -  .env
        
    environment:
      TZ: ${TIMEZONE}
    
