services:
  npm:
    image: jc21/nginx-proxy-manager:latest
    restart: unless-stopped

    ports:
      - "80:80"    # Public HTTP Port
      - "443:443"  # Public HTTPS Port
      - "81:81"    # Admin Web Port

    env_file:
      - .env

    environment:
      TZ: ${TIMEZONE}

    volumes:
      - ./npm/data:/data
      - ./npm/letsencrypt:/etc/letsencrypt

